


#index-home{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#index-home .home-text{
    text-align: left;
}

@media(max-width:991px){
    #index-home .home-text{
        text-align: center;
    } 
}


#index-home h1 b{
    font-size: 5rem;
}

#index-home p{
    font-size: 1.3rem;
}

#index-home .quick-links{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
