#index-home{
    background-image: url(https://images.hdqwalls.com/wallpapers/minimal-abstract-background-4k-f2.jpg);
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;
}

#index-home .home-text{
    border-radius: 20px;
    padding: 30px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
}

#index-home h1, #index-home p{
    color:white
}

#index-home h1 b{
    font-size: 4.7rem;
}

#index-home p{
    font-size: 1.3rem;
}

#index-home .quick-links{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media(max-width:991px){
    #index-home .home-text{
        text-align: center;
    } 
}

@media(max-width:575px){
    #index-home h1{
       font-size: 1.5rem;
    }

    #index-home h1 b{
        font-size: 2rem;
     }
}
