*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    z-index: 0;
    margin:0;
    padding:0;
    overflow-x: hidden;
    width: 100vw;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

a{
    text-decoration: none;
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top:20px;
}

.mt-30{
    margin-top:30px;
}

.mb-10{
    margin-bottom:10px;
}

.mb-20{
    margin-bottom:20px;
}

.mb-30{
    margin-bottom:30px;
}

